<!DOCTYPE html>
<html>
<head>
	<title>SCRIPTORIVM</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
	<style type="text/css">
		.main_content{
			height:100%;
		}

		.sidebar{
			display: none;
			position:absolute;
			z-index: 10000;
			top:0px;
			width: 	400px;
			padding:3px;
			background-color: white;
		}

		.sidebar .content{
			overflow: auto;
			height:100%;
		}

		footer{
			width: 100%;
			background-color: white;	
			text-align: center;
		}


		#main{
			margin-top: -20px;
			position: relative;
		}

		.closer{
		  cursor: pointer;
		  position: absolute;
		  right: 20px;
		}
	</style>
</head>
<body>
	<header>
		<nav class="navbar navbar-default navbar-static-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">SCRIPTORIVM</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="/">Mappa</a></li>
	            <li><a href="/timeline?mode=his">Timeline Pompei</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>
	</header>
	<div id="main">
		<div class="main_content sidebar" id="lsidebar">
			<div class="closer"><i class="fa fa-fw fa-close"></i></div>
			<div class="content"></div>
		</div>
		<div class="main_content" id="map"></div>
		<div class="main_content sidebar" id="rsidebar"></div>
	</div>
	<footer>Made with <i class="fa fa-fw fa-heart"></i> in Pompei</footer>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
	<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-hash/v0.2.1/leaflet-hash.js'></script>

	<script type="text/javascript">

	var SC = {};

	function do_resize(){
		$("#main").height($(window).height()-$("header").height()-$("footer").height());
	}

	$(window).resize(do_resize);

	$("#area_adder").click(function(){
		SC.drawnItems = new L.FeatureGroup();
		SC.map.addLayer(SC.drawnItems);
		SC.drawControl = new L.Control.Draw({
			draw:{
				circle:false
			},
   			edit: {
        		featureGroup: SC.drawnItems
    		}
		});
		SC.map.addControl(SC.drawControl);
	});
 


	$(function(){
		do_resize();
		
	
		//get geojson
		$.getJSON("/timeline.json", function(data){

			SC.geo.on("click", function(e){
				var latlng = e.latlng;

				if (filter_phase){
				}

				$.getJSON(url, function(data){
					$("#lsidebar .content").empty();
					for (var a in data){
						var to_add = "<div>";
						to_add +="<h2 class='jumbotron'>";
						to_add += a.split(":")[1];
						for (var t in data[a].tags){
							to_add+="<span class='badge'>"+data[a].tags[t]+"</span>";
						}
						to_add +="</h2>";

						for (var r in data[a].researches){
							var res = data[a].researches[r];
							to_add += "<div class='research panel panel-default'>";
							to_add += "<div class='panel-heading'><h3>";
							to_add += res.data.title ;
							to_add += " <a target='_blank' href='"+res.links.alternate.href+"'><i class='fa fa-fw fa-globe'></i></a>";
							to_add += "</h3></div>";

							to_add += "<div class='panel-body'>";
							to_add += "<div class='authors-list'>Authors: ";

							for (var ra in res.data.creators){
								var name = "";
								if (res.data.creators[ra].firstName)
									name = res.data.creators[ra].firstName + " " + res.data.creators[ra].lastName;
								else
									name = res.data.creators[ra].name;
								to_add += "<span class='label label-primary' title='" + res.data.creators[ra].creatorType + "'><i class='fa fa-fw fa-user'></i>"+ name +"</span>";	
							}
							to_add += "</div>";
							to_add += "</div>";

							to_add += "<div class='tags-list panel-footer'>";
							for (var rt in res.data.tags){
								to_add +="<span class='badge'><i class='fa fa-fw fa-tag'></i>"+res.data.tags[rt].tag+"</span>";
							}
							to_add += "</div>";
							to_add += "</div>";
						}
						to_add +="</div>";
						$("#lsidebar .content").append(to_add);
					}
					$("#lsidebar").show();
				});
			});
		});	
	});
	</script>

</body>
</html>